body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18;
  background-image: url("/images/so-white.png");
}

.wrapper {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(400px,1fr)); */
  /* grid-template-columns: minmax(300px,800px); */
  grid-gap: 2px;
  color: #444;

}

.a {
  color: black;
  border-radius: 5px;
  padding: 12px;
  padding-bottom: 0px;
  font-size: 100%;
  max-width:37em;
}

.b {
  color: black;
  border-radius: 5px;
  padding: 12px;
  padding-top: 0px;
  max-width:37em;
}

/* Make subtitle text for datestamp slightly smaller */
sub {
  font-size: 70%;
}

/* Styles for images */
img {
  border: thick double #32a1ce;
  margin: 10px;
}

figcaption {
  font-weight: bolder;
  color: #006da3;
}

/* Some black magic to make the background a little bit transparent */
/* .div {
    background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.001);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
    zoom: 1;
}
.div:nth-child(n) {
    filter: none;
} */

/* Some font black magic */
h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: .05em
}

p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
}
