<! DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>NOTES ON STUFF &#127793;</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

  <body>
  <header>
    <h3><%= publish_name %></h3>
  </header>
    <main>
    <%= zettel_html %>
    </main>

  </body>
</html>
